<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar color="primary">
      <span>Menú</span>
      <div class="spacer"></div>
      <button
        (click)="sidenav.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="./listado" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>label</mat-icon>
        <span>Listado de heroes</span>
      </a>
      <a mat-list-item routerLink="./agregar" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>add</mat-icon>
        <span>Añadir Héroe</span>
      </a>
      <a mat-list-item routerLink="./buscar" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>search</mat-icon>
        <span>Búscar Héroe</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar>
    <button
      (click)="sidenav.toggle()"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <div class="spacer"></div>
    <span>{{auth.usuario}}</span>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
